## =================================================================================================================================
##  
##                                                    jEdit Velocity Template                              
##                                                                                   
## Template Description                                                         
## --------------------                                                         
## This is a standard jEdit Velocity Template script that generates a standard template header for this file type.
##
## This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2 of the License, or any later version.
##
## This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
## 
## Machine Operating System  : Kubuntu 22.04
## Machine Type              : amd64                               
## File Name                 : PLYSHLOG.vm                                                         
## Author                    : David Baxendale
##                             Equinox International Petroleum Consultants Pte. Ltd
##                             51 Goldhill Plaza, #07-10/11
##                             Singapore, 308900
##                             david.baxendale@eipc.co 
## Version                   : 2022-10
##   
##                             Copyright (C) 2018-2022 Equinox International Petroleum Consultants Pte. Ltd
## 
## =================================================================================================================================
--
--       POLYMER SHEARING LOGARITHMIC PARAMETERS
--
PLYSHLOG
--       REF         REF        REF
--       POLCON      SALTCON    TEMP    
--       --------    -------    ----
         0.5                             
/          
--       
--       VELOCITY    VISFAC 
--       --------    -------   
         0.0000001    1.00
         0.000001     1.10
         0.0001       1.30
         0.001        1.47
         0.01         1.67
         0.1          2.00
         1.0          2.20
         10.0         2.30
         100.0        2.40
         1000.0       2.40
                                                           / TABLE NO. 01         
--       REF         REF        REF
--       POLCON      SALTCON    TEMP    
--       --------    -------    ----
         0.5                             
/          
--       
--       VELOCITY    VISFAC 
--       --------    -------   
         0.0000001    1.00
         0.000001     1.10
         0.0001       1.35
         0.001        1.57
         0.01         1.87
         0.1          2.20
         1.0          2.40
         10.0         2.60
         100.0        2.65
         1000.0       2.65
                                                           / TABLE NO. 02         
## =================================================================================================================================