## =================================================================================================================================
##  
##                                                    jEdit Velocity Template                              
##                                                                                   
## Template Description                                                         
## --------------------                                                         
## This is a standard jEdit Velocity Template script that generates a standard template header for this file type.
##
## This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2 of the License, or any later version.
##
## This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
## 
## Machine Operating System  : Kubuntu 22.04
## Machine Type              : amd64                               
## File Name                 : SLGOF.vm                                                         
## Author                    : David Baxendale
##                             Equinox International Petroleum Consultants Pte. Ltd
##                             51 Goldhill Plaza, #07-10/11
##                             Singapore, 308900
##                             david.baxendale@eipc.co 
## Version                   : 2022-10
##   
##                             Copyright (C) 2018-2022 Equinox International Petroleum Consultants Pte. Ltd
## 
## =================================================================================================================================
--                                                                                     
--       GAS-OIL RELATIVE PERMEABILITY TABLES (SLGOF)                                                                 
SGOF
--       SLIQ       KRG       KROG      PCOG                                                     
--       FRAC                           PSIA                                                  
--       -------   --------  -------   -------                                                
         0.30060    0.55000  0.0000     0.0000
         0.31480    0.42500  0.2848     0.0000
         0.32910    0.35000  0.3091     0.0000       
         0.34330    0.27500  0.4333     0.0000
         0.35760    0.25000  0.5576     0.0000
         0.37180    0.22500  0.5818     0.0000
         0.38610    0.20000  0.6061     0.0000
         0.40030    0.17500  0.6303     0.0000
         0.41450    0.15000  0.6545     0.0000
         0.42880    0.12500  0.6788     0.0000
         0.44300    0.10000  0.7030     0.0000
         0.45730    0.07500  0.7273     0.0000
         0.47150    0.05000  0.7515     0.0000
         0.48580    0.02500  0.7758     0.0000
         0.50000    0.00000  0.8000     0.0000
         0.80000    0.00000  0.9000     0.0000             / TABLE No. 01 
## =================================================================================================================================