airspeed~=0.5.16
datetime>=3.7.0
getpass>=1.1.15
importlib>=3.7
os>=3.7
notify-py>=0.3.3
pandas>=1.1.5
pathlib>=3.7.0
pkg_resources>=3.7
platform>=3.7.0
psutil>=5.5.1
pyDOE2~=1.3.0
PySimpleGUI>=4.44.0
numpy~=1.19.1
re>=3.70
subprocess>=3.7
sys>=3.7
