## =================================================================================================================================
##  
##                                                    jEdit Velocity Template                              
##                                                                                   
## Template Description                                                         
## --------------------                                                         
## This is a standard jEdit Velocity Template script that generates a standard template header for this file type.
##
## This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2 of the License, or any later version.
##
## This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
## 
## Machine Operating System  : Windows 7 - Service Pack 1                                 
## Machine Type              : amd64                               
## File Name                 : ACTIONW.vm                                                         
## Author                    : David Baxendale
##                             Equinox International Petroleum Consultants Pte. Ltd
##                             51 Goldhill Plaza, #07-10/11
##                             Singapore, 308900
##                             david.baxendale@eipc.co 
## Date                      : 11-May-2020
##   
##                             Copyright (C) 2020 Equinox International Petroleum Consultants Pte. Ltd
## 
## =================================================================================================================================
--
--       WELL ACTION COMMANDS
--
ACTIONW
--       ACTION     WELL     TRIGGER     TRIGGER    TRIGGER   TRIGGER   TRIGGER
--       NAME       NAME     CONDITION   OPERATOR   VALUE     MAX       COUNTER
         ACTW-1     GI01       WBHP         >       6800.0                     /
--
--       TRIGGER COMMANDS TO BE EXECUTED BELOW THIS COMMENT
--   
--       NEXT   ALL
--       STEP   TIME
NEXTSTEP
         0.1    'NO'                                                           /
--
-- WELL PRODUCTION STATUS                                                       
--                                                                              
--  WELL WELL   --LOCATION--  COMPLETION                                     
--  NAME STAT     I   J    K  FIRST LAST                                     
WELOPEN                                                                      
GI01     SHUT                                                                  /
GI01     SHUT     0   0    0     2     2                                       /
GI01     OPEN                                                                  /
GI01     OPEN     0   0    0     1     1                                       /
/                                                                               

ENDACTIO
## =================================================================================================================================