## =================================================================================================================================
##  
##                                                    jEdit Velocity Template                              
##                                                                                   
## Template Description                                                         
## --------------------                                                         
## This is a standard jEdit Velocity Template script that generates a standard template header for this file type.
##
## This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2 of the License, or any later version.
##
## This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
## 
## Machine Operating System  : Kubuntu 20.04
## Machine Type              : amd64                               
## File Name                 : OPERATER.vm                                                         
## Author                    : David Baxendale
##                             Equinox International Petroleum Consultants Pte. Ltd
##                             51 Goldhill Plaza, #07-10/11
##                             Singapore, 308900
##                             david.baxendale@eipc.co 
## Date                      : 27-July-2021
##   
##                             Copyright (C) 2018-2021 Equinox International Petroleum Consultants Pte. Ltd
## 
## =================================================================================================================================
--
--       MATHEMATICAL OPERATIONS ON ARRAYS BY REGION
--
--       RESET FIPNUM BASED ON MULTNUM AND OPERNUM
--       
--       DESTIN   REGN   OPERATION   SOURCE   ALPHA   BETA    INPUT  SEGNUM   EQUIL              
--       ARRAY    NUM    TYPE        ARRAY    CONST   CONST   ARRAY  Number   Number                       
OPERATER                                                   
         FIPNUM    26    'MULTA'   'MULTNUM'  0.00     1            /  26       1
         FIPNUM    44    'MULTA'   'MULTNUM'  0.00     2            /  44       2
         FIPNUM    62    'MULTA'   'MULTNUM'  0.00     3            /  62       3
         FIPNUM    98    'MULTA'   'MULTNUM'  0.00     4            /  98       4
         FIPNUM   116    'MULTA'   'MULTNUM'  0.00     5            / 116       5
         FIPNUM   134    'MULTA'   'MULTNUM'  0.00     6            / 134       6                                
         FIPNUM    46    'MULTA'   'MULTNUM'  0.00     7            /  46       7
         FIPNUM    64    'MULTA'   'MULTNUM'  0.00     8            /  64       8
         FIPNUM    82    'MULTA'   'MULTNUM'  0.00     9            /  82       9
         FIPNUM   226    'MULTA'   'MULTNUM'  0.00    10            / 226      10
         FIPNUM   262    'MULTA'   'MULTNUM'  0.00    11            / 262      11
         FIPNUM   280    'MULTA'   'MULTNUM'  0.00    12            / 280      12
         FIPNUM   298    'MULTA'   'MULTNUM'  0.00    13            / 298      13
         FIPNUM    33    'MULTA'   'MULTNUM'  0.00    14            /  33      14
         FIPNUM    51    'MULTA'   'MULTNUM'  0.00    15            /  51      15
         FIPNUM   105    'MULTA'   'MULTNUM'  0.00    16            / 105      16
         FIPNUM   159    'MULTA'   'MULTNUM'  0.00    17            / 159      17
         FIPNUM   195    'MULTA'   'MULTNUM'  0.00    18            / 195      18
         FIPNUM   267    'MULTA'   'MULTNUM'  0.00    19            / 267      19
         FIPNUM   303    'MULTA'   'MULTNUM'  0.00    20            / 303      20
         FIPNUM   321    'MULTA'   'MULTNUM'  0.00    21            / 321      21
         FIPNUM   339    'MULTA'   'MULTNUM'  0.00    22            / 339      22
         FIPNUM    54    'MULTA'   'MULTNUM'  0.00    23            /  54      23
         FIPNUM    72    'MULTA'   'MULTNUM'  0.00    24            /  72      24
         FIPNUM   108    'MULTA'   'MULTNUM'  0.00    25            / 108      25
         FIPNUM   144    'MULTA'   'MULTNUM'  0.00    26            / 144      26
         FIPNUM   270    'MULTA'   'MULTNUM'  0.00    27            / 270      27      
/                                                            
## =================================================================================================================================