## =================================================================================================================================
##  
##                                                    jEdit Velocity Template                              
##                                                                                   
## Template Description                                                         
## --------------------                                                         
## This is a standard jEdit Velocity Template script that generates a standard template header for this file type.
##
## This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2 of the License, or any later version.
##
## This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
## 
## Machine Operating System  : Windows XP - Service Pack 2                                 
## Machine Type              : amd64                               
## File Name                 : SUMMARY.vm                                                         
## Author                    : David Baxendale
##                             51 Goldhill Plaza,  #07-10/11,
##                             Singapore, 308900
##                             david.baxendale@eipc.co
## Date                      : 18-May-2017
##   
##                             Copyright (C) 2020 Equinox International Petroleum Consultants Pte. Ltd
## 
## =================================================================================================================================
-- =================================================================================================================================
-- 
-- SUMMARY SECTION 
-- 
-- =================================================================================================================================
SUMMARY

#if ($SumOpt09=="Yes")
-- ---------------------------------------------------------------------------------------------------------------------------------
-- FIELD PRODUCTION DATA                                                        
-- ---------------------------------------------------------------------------------------------------------------------------------
--                                                                              
--       FIELD PRODUCTION DATA - SIMULATED DATA                                       
--                                                                              
FPR                                                                             
FOEW                                                                            
FOPR                                                                            
FOPT                                                                            
                                                                                
FGPR                                                                            
FGPT                                                                            
FGOR                                                                            
               
-- FGCR
-- FGCT

FLPR
FLPT

FWPR                                                                            
FWPT                                                                            
FWCT                                                                            
                                                                                
FVPR                                                                            
FVPT                                                                                                                                                          
--                                                                              
--       FIELD INJECTION DATA - SIMULATED DATA                                        
-- 
-- FGIR                                                                         
-- FGIT                                                                         
-- FOIR
-- FOIT
-- FWIR                                                                         
-- FWIT                                                                                                                                                        
--                                                                              
--       FIELD GAS LIFT INJECTION RATE (ASSUMES ALQ = GAS LIFT INJECTION RATE)        
--                                                                              
FGLIR                                                                                                                                                      
--                                                                              
--       FIELD PRODUCTION DATA - FUEL GAS CONSUMPTION                                 
--                                                                              
FGCR                                                                            
FGCT                                                                                                                                                           
--                                                                              
--       FIELD PRODUCTION DATA - WELLS FLOWING AND STATUS                             
--                                                                              
FMWSET                                                                          
--                                                                              
--       FIELD PRODUCTION DATA - HISTORICAL DATA                                      
--                                                                              
-- FOPRH                                                                        
-- FOPTH                                                                        
--                                                                              
-- FGPRH                                                                        
-- FGPTH                                                                        
-- FGORH                                                                        
--                                                                              
-- FWPRH                                                                        
-- FWPTH                                                                        
-- FWCTH                                                                        
--                                                                              
-- FLPRH                                                                        
-- FLPTH                                                                                                                                                  
--                                                                              
--       FIELD INJECTION DATA - HISTORICAL DATA                                      
--                                                                              
-- FGIRH                                                                        
-- FGITH                                                                        
-- FOIRH                                                                        
-- FOITH                                                                        
-- FWIRH                                                                        
-- FWITH                                                                                                                                                   
--                                                                              
--       FIELD PRODUCTION DATA - POTENTIAL RATES                                      
--                                                                              
FOPP                                                                            
FGPP                                                                            
-- ---------------------------------------------------------------------------------------------------------------------------------
-- GROUP PRODUCTION DATA                                                        
-- ---------------------------------------------------------------------------------------------------------------------------------
--                                                                              
--       GROUP PRODUCTION DATA - SIMULATED DATA                                       
--                                                                              
GOPR                                                                            
/                                                                               
GOPT                                                                            
/                                                                               
                                                                                
GGPR                                                                            
/                                                                               
GGPT                                                                            
/                                                                               
GGOR                                                                            
/                                                                               
                                                                                
GLPR
/
GLPT
/

GWPR                                                                            
/                                                                               
GWPT                                                                            
/                                                                               
GWCT                                                                            
/
--                                                                              
--       GROUP INJECTION DATA - SIMULATED DATA                                        
--                                                                              
GWIR 
/
GWIT
/
GGIR
/
GGIT                                                                         
/                                                                           
--                                                                              
--       GROUP GAS LIFT INJECTION RATE (ASSUMES ALQ = GAS LIFT INJECTION RATE)        
--                                                                              
GGLIR                                                                           
/                                                                                                                                                             
--                                                                              
--       GROUP PRODUCTION DATA - POTENTIAL RATES                                      
--                                                                              
GOPP                                                                            
/                                                                               
GGPP                                                                            
/                                                                                                                                                             
--                                                                              
--       GROUP PRODUCTION DATA - WELLS FLOWING AND STATUS                             
--                                                                              
GMWSET                                                                          
/                                                                                                                                                            
--                                                                              
--       GROUP PRODUCTION DATA - HISTORICAL DATA                                      
--                                                                              
GOPRH                                                                        
/                                                                            
GOPTH                                                                                                                                                
/                                                                            
GGPRH
/
GGPTH
/
GGORH                                                                        
/                                                                             
GWPRH
/
GWPTH
/
GWCTH                                                                        
/
-- GLPRH
-- /
-- GLPTH                                                                        
-- /                                                                                                                                                              
-- ---------------------------------------------------------------------------------------------------------------------------------
-- WELL PRODUCTION DATA                                                         
-- ---------------------------------------------------------------------------------------------------------------------------------
--                                                                              
--       WELL PRODUCTION DATA - SIMULATED DATA                                        
--                                                                              
WOPR                                                                            
/                                                                               
WLPR                                                                            
/                                                                               
WWPR                                                                            
/                                                                               
WGPR                                                                            
/                                                                               
WWCT                                                                            
/                                                                               
WGOR                                                                            
/                                                                               
WWGR                                                                            
/                                                                               
WGLR                                                                            
/                                                                               
WOGR                                                                            
/                                                                               
WOPT                                                                            
/                                                                               
WLPT                                                                            
/                                                                               
WWPT                                                                            
/                                                                               
WGPT                                                                            
/       
--                                                                             
--       WELL INJECTION DATA - SIMULATED DATA                                        
--                                                                             
-- WGIR                                                                         
--  1* /
-- WGIT                                                                         
--  1* /
-- WOIR                                                                         
--  1* /
-- WOIT                                                                         
--  1* /
-- WWIR 
--  1* /
-- WWIT                                                                         
--  1* /
--                                                                             
--       WELL PRESSURE DATA - SIMULATED DATA                                        
--                                                                             
WTHP                                                                            
/                                                                               
WBHP                                                                            
/                                                                               
WBP                                                                             
/                                                                               
WBP4                                                                             
/                                                                               
WBP5                                                                             
/                                                                               
WBP9                                                                             
/                                                                                                                                                             
--                                                                              
--       WELL GAS LIFT INJECTION RATE (ASSUMES ALQ = GAS LIFT INJECTION RATE)         
--    
WGLIR                                                                           
/                                                                                                                                                              
--                                                                              
--       WELL PRODUCTION DATA - POTENTIAL RATES                                       
--                                                                              
WOPP                                                                            
/                                                                               
WGPP                                                                            
/                                                                                                                                                             
--                                                                              
--       WELL PRODUCTION DATA - WELLS FLOWING AND STATUS                              
--                                                                              
WSTAT
/                                                                          
--                                                                              
--       WELL PRODUCTION DATA - WELL COMPLETION D-FACTOR FLOW DEPENDENT SKIN FACTOR   
--                                                                              
-- CDFAC
-- WELL         II    JJ    KK
-- NAME        ---   ---   ---
-- 'GP01'      100   200    20 
-- 'GP02'      100   200    20 
-- /                                                                             
--                                                                              
--       WELL PRODUCTION DATA - HISTORICAL DATA                                       
--                                                                              
-- WOPRH                                                                        
-- /                                                                            
-- WLPRH                                                                        
-- /                                                                            
-- WWPRH                                                                        
-- /                                                                            
-- WGPRH                                                                        
-- /                                                                            
-- WWCTH                                                                        
-- /                                                                            
-- WGORH                                                                        
-- /                                                                            
-- WOPTH                                                                        
-- /                                                                            
-- WLPTH                                                                        
-- /                                                                            
-- WWPTH                                                                        
-- /                                                                            
-- WGPTH                                                                        
-- /                                                                            
-- WTHPH                                                                         
-- /                                                                            
-- WBHPH                                                                         
-- /                                                                                                                                                         
--                                                                              
--       WELL INJECTION DATA - HISTORICAL DATA                                       
--                                                                              
-- WOIRH                                                                        
-- /                                                                            
-- WGIRH                                                                        
-- /                                                                            
-- WWIRH                                                                        
-- /                                                                            
-- WOPTH                                                                        
-- /                                                                            
-- WGITH                                                                        
-- /                                                                            
-- WWPTH                                                                        
-- /                                                                            
-- ---------------------------------------------------------------------------------------------------------------------------------
-- REGION PRODUCTION DATA                                                       
-- ---------------------------------------------------------------------------------------------------------------------------------
--                                                                              
--       REGION PRODUCTION DATA - SIMULATED DATA                                      
--                                                                              
RPR                                                                             
/                                                                               
ROPR                                                                            
/                                                                               
ROPT                                                                            
/                                                                               
RGPR                                                                            
/                                                                               
RGPT                                                                            
/                                                                               
RWPR                                                                            
/                                                                               
RWPT                                                                            
/                                                                               
--                                                                              
--       REGION PRODUCTION DATA - SIMULATED RECOVERY FACTOR DATA                      
--                                                                              
ROEW                                                                            
/      
#end
#if ($SumOpt02=="Yes")
-- ---------------------------------------------------------------------------------------------------------------------------------
-- ANALYTICAL AQUIFER INFLUX VARIABLES                                                         
-- ---------------------------------------------------------------------------------------------------------------------------------
--
--       ANALYTICAL AQUIFERS(FIELD)
--
FAQR
FAQT
--
--       ANALYTICAL AQUIFERS
--
AAQP
/
AAQR
/
AAQT
/
--
--       ANALYTICAL AQUIFERS (CARTER-TRACY)
--
AAQTD
/
AAQPD
/
#end
#if ($SumOpt03=="Yes")
-- ---------------------------------------------------------------------------------------------------------------------------------
-- NUMERICAL AQUIFER INFLUX VARIABLES                                                        
-- ---------------------------------------------------------------------------------------------------------------------------------
--
--       NUMERICAL AQUIFER (FIELD)
--
FNQR
FNQT
--
--       NUMERICAL AQUIFER
--
ANQP
/
ANQR
/
ANQT
/       
#end
#if ($SumOpt01=="Yes")
-- ---------------------------------------------------------------------------------------------------------------------------------
-- TRACER VARIABLES (REPLACE xxx BY TRACER NAME)                                                        
-- ---------------------------------------------------------------------------------------------------------------------------------
--
--       TRACER VARIABLES (FIELD)
--
FTIRxxx 
FTITxxx
FTPRxxx
FTPTxxx

FTICxxx
FTPCxxx

FTIPTxxx  
FTIPFxxx  
FTIPSxxx  
--
--       TRACER VARIABLES (GROUP)
--
GTIRxxx 
/                      
GTITxxx
/
GTPRxxx
/
GTPTxxx
/

GTICxxx
/
GTPCxxx
/
--
--       TRACER VARIABLES (REGION)
--
RTIPTxxx
RTIPFxxx
RTIPSxxx
/
--
--       TRACER VARIABLES (WELL)
--
WTIRxxx
/
WTITxxx
/
WTPRxxx
/
WTPTxxx       
/

WTICxxx
/
WTPCxxx
/
#end
#if ($SumOpt04=="Yes")
-- ---------------------------------------------------------------------------------------------------------------------------------
-- BRINE PHASE AND MODEL VARIABLES                                                        
-- ---------------------------------------------------------------------------------------------------------------------------------
--
--       BRINE VARIABLES (FIELD)
--
FSIR
FSIT
FSPR
FSPT

FSIC
FSPC

FSIP  
--
--       BRINE VARIABLES (GROUP)
--
GSIR 
/                      
GSIT
/
GSPR
/
GSPT
/

GSIC
/
GSPC
/
--
--       BRINE VARIABLES (REGION)
--
RSIP
/
--
--       BRINE VARIABLES (WELL)
--
WSIR
/
WSIT
/
WSPR
/
WSPT
/

WSIC
/
WSPC
/
#end
#if ($SumOpt05=="Yes")
-- ---------------------------------------------------------------------------------------------------------------------------------
-- FOAM PHASE AND MODEL VARIABLES                                                         
-- ---------------------------------------------------------------------------------------------------------------------------------
--
--       FOAM VARIABLES (FIELD)
--
FTIRFOA
FTITFOA
FTPRFOA
FTPTFOA
FTADSFOA

FTDCYFOA
FTMOBFOA
FTIPTFOA
--
--       FOAM VARIABLES (GROUP)
--
GTIRFOA
/
GTITFOA
/
GTPRFOA
/
GTPTFOA
/
--
--       FOAM VARIABLES (REGION)
--
RTADSFOA
/
RTDCYFOA
/
RTIPTFOA
/
--
--       FOAM VARIABLES (WELL)
--
WTIRFOA
/
WTITFOA
/
WTPRFOA
/
WTPTFOA
/
#end
#if ($SumOpt06=="Yes")        
-- ---------------------------------------------------------------------------------------------------------------------------------
-- MULTI-SEGEMENT WELL VARIABLES                                                      
-- ---------------------------------------------------------------------------------------------------------------------------------
-- 
-- WELL MULTI-SEGMENT FLOW VARIABLES 
--
SOFR
/
SOFRF
/
SOFRS
/
SWFR
/
SGFR
/
SGFRF
/
SGFRS
/
SWCT
/
SGOR
/
SOGR
/
-- 
-- WELL MULTI-SEGMENT PRESSURE VARIABLES 
--
SPR
/
SPRD
/
#end
#if ($SumOpt07=="Yes")        
-- ---------------------------------------------------------------------------------------------------------------------------------
-- POLYMER PHASE AND MODEL VARIABLES                                                      
-- ---------------------------------------------------------------------------------------------------------------------------------
--
--       POLYMER VARIABLES (FIELD)
--
FCIR
FCIT
FCPR
FCPT

FCAD

FCIC
FCPC
FCIP
--
--       POLYMER VARIABLES (GROUP)
--
GCIR 
/
GCIT
/
GCPR
/
GCPT
/

GCIC
/
GCPC
/
--
--       POLYMER VARIABLES (REGION)
--
RCAD
/
--
--       POLYMER VARIABLES (WELL)
--
WCIR
/
WCIT
/
WCPR
/
WCPT
/
WCIC
/
WCPC
/
#end        
#if ($SumOpt08=="Yes")
-- ---------------------------------------------------------------------------------------------------------------------------------
-- SOLVENT PHASE AND MODEL VARIABLES                                                         
-- ---------------------------------------------------------------------------------------------------------------------------------
--
--       SOLVENT VARIABLES (FIELD)
--
FNIR
FNIT
FNPR
FNPT

FNIP
--
--       SOLVENT VARIABLES (GROUP)
--
GNIR 
/                      
GNIT
/
GNPR
/
GNPT
/
--
--       SOLVENT VARIABLES (REGION)
--
RNIP
/
--
--       SOLVENT VARIABLES (WELL)
--
WNIR
/
WNIT
/
WNPR
/
WNPT
/
#end
#if ($SumOpt10=="Yes")
-- ---------------------------------------------------------------------------------------------------------------------------------
-- THERMAL MODEL DATA                                                         
-- ---------------------------------------------------------------------------------------------------------------------------------
--
--       THERMAL VARIABLES (FIELD)
--
FTIRHEA 
FTITHEA 
FTPRHEA 
FTPTHEA 

FTPCHEA 
FTICHEA 

FTIPTHEA
--
--       THERMAL VARIABLES (GROUP)
--
GTIRHEA 
/
GTITHEA 
/
GTPRHEA 
/
GTPTHEA 
/

GTPCHEA 
/
GTICHEA 
/
--
--       THERMAL VARIABLES (REGION)
--
RTIPTHEA
/
--
--       THERMAL VARIABLES (WELL)
--
WTIRHEA 
/
WTITHEA 
/
WTPRHEA 
/
WTPTHEA 
/

WTPCHEA 
/
WTICHEA
/
#end
#if ($SumOpt09=="Yes")
-- ---------------------------------------------------------------------------------------------------------------------------------
-- SUMMARY REPORT PRINT                                                         
-- ---------------------------------------------------------------------------------------------------------------------------------
RUNSUM                                                                          
                                                                                
RPTONLY                                                                         
                                                                                
SEPARATE      
        
#end
## =================================================================================================================================