## =================================================================================================================================
##
##                                         VELOCITY TEMPLATE - OPM FLOW SIMULATION FILE  
##                                                                              
##                                                                              
## COPYRIGHT NOTICE
## ----------------
## This file is part of the Open Porous Media project (OPM).
##
## OPM is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
##
## This file is made available under the Open Database License: 
##                                    http://opendatacommons.org/licenses/odbl/1.0/.
##
## Any rights in individual contents of the database are licensed under the Database Contents License:
##                                    http://opendatacommons.org/licenses/dbcl/1.0/
##
## OPM is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the aforementioned GNU General Public Licenses for more details.
##
## Copyright (C) 2020-2022 Equinor ASA
##                                                                         
## =================================================================================================================================
-- ---------------------------------------------------------------------------------------------------------------------------------
-- FLUID PROPERTIES
-- ---------------------------------------------------------------------------------------------------------------------------------
--                                                                                      
--       GAS PVT TABLE FOR DRY GAS                                                                        
--                                                                                      
PVDG
--       PRES     BG          VISC                                                         
--       PSIA     RB/MSCF     CPOISE                                                        
--       ------   --------    ------                                                
           14.7   191.7443    0.0125
          400.0     5.8979    0.0130
          800.0     2.9493    0.0135
         1200.0     1.9594    0.0140
         1600.0     1.4695    0.0145
         2000.0     1.1797    0.0150
         2400.0     0.9796    0.0155
         2800.0     0.8397    0.0160
         3200.0     0.7398    0.0165
         3600.0     0.6498    0.0170
         4000.0     0.5849    0.0175                       / TABLE NO. 01
--                                                                                      
--       OIL PVT TABLE FOR LIVE OIL                                                                 
--                                                                                      
PVTO                                                                                    
--       RS        PSAT       BO        VISC                                                  
--       MSCF/STB  PSIA       RB/STB    CPOISE                                                
--       --------  --------   -------   ------                                                
          0.000       14.7    1.00000   1.2000             /
          0.165      400.0    1.01200   1.1700             /
          0.335      800.0    1.02550   1.1400             /
          0.500     1200.0    1.03800   1.1100             /
          0.665     1600.0    1.05100   1.0800             /
          0.828     2000.0    1.06300   1.0600             /
          0.985     2400.0    1.07500   1.0300             /
          1.130     2800.0    1.08700   1.0000             /
          1.270     3200.0    1.09850   0.9800             /
          1.390     3600.0    1.11000   0.9500             /
          1.500     4000.0    1.12000   0.9400             
                    5000.0    1.11890   0.9400             /
                                                           / TABLE NO. 01
--                                                                                      
--       WATER PVT TABLE                                                                   
--                                                                                      
PVTW                                                                                    
--       REF PRES  BW         CW        VISC     VISC                                         
--       PSIA      RB/STB     1/PSIA    CPOISE   GRAD                                         
--       --------  --------   -------   ------   ------                                       
         3600.0    1.0034     3.0E-6    0.960    1*        / TABLE NO. 01
--
--       OIL      WAT        GAS                                                             
--       DENSITY  DENSITY    DENSITY                                                       
--       -------  -------    -------                                                         
DENSITY                                                                                  
         44.9856  63.0210    0.07039                       / DENSITY PVT DATA REGION 1 
## =================================================================================================================================