## =================================================================================================================================
##
##                                         VELOCITY TEMPLATE - OPM FLOW SIMULATION FILE  
##                                                                              
##                                                                              
## COPYRIGHT NOTICE
## ----------------
## This file is part of the Open Porous Media project (OPM).
##
## OPM is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
##
## This file is made available under the Open Database License: 
##                                    http://opendatacommons.org/licenses/odbl/1.0/.
##
## Any rights in individual contents of the database are licensed under the Database Contents License:
##                                    http://opendatacommons.org/licenses/dbcl/1.0/
##
## OPM is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the aforementioned GNU General Public Licenses for more details.
##
## Copyright (C) 2020 Equinor ASA
##                                                                         
## =================================================================================================================================
-- ---------------------------------------------------------------------------------------------------------------------------------
-- FLUID PROPERTIES - NORNE DATA SET NO. 2
-- ---------------------------------------------------------------------------------------------------------------------------------
--                                                                                      
--       GAS PVT TABLE FOR WET GAS (NORME TABLE 2)                                                                       
--                                                                                     
PVTG
--       PRES      RV           BG         VISC                                                         
--       BARSA     Sm3/Sm3      Rm3/Sm3    CPOISE                                                        
--       ------    ---------    -------    ------                                                
          80.00    0.00000485   0.015151   0.01506 
                   0.00000242   0.015154   0.01505            
                   0.00000000   0.015157   0.01504         /    
         100.00    0.00000621   0.012032   0.01566         
                   0.00000310   0.012036   0.01564         
                   0.00000000   0.012040   0.01563         /
         120.00    0.00000821   0.009980   0.01632         
                   0.00000411   0.009985   0.01630         
                   0.00000000   0.009990   0.01628         /
         140.00    0.00001096   0.008537   0.01706         
                   0.00000548   0.008544   0.01702         
                   0.00000000   0.008550   0.01698         /
         160.00    0.00001457   0.007476   0.01786         
                   0.00000728   0.007484   0.01780         
                   0.00000000   0.007492   0.01774         /
         180.00    0.00001918   0.006669   0.01873         
                   0.00000959   0.006678   0.01864         
                   0.00000000   0.006687   0.01854         /
         200.00    0.00002493   0.006038   0.01967         
                   0.00001247   0.006048   0.01952         
                   0.00000000   0.006058   0.01939         /
         216.50    0.00003061   0.005616   0.02049         
                   0.00001530   0.005626   0.02029         
                   0.00000000   0.005636   0.02010         /
                                                           /  TABLE NO. 02               
--                                                                                      
--       OIL PVT TABLE FOR LIVE OIL (NORME TABLE 2)                                                                 
--                                                                                      
PVTO                                                                                    
--       RS        PSAT         BO         VISC                                                  
--       Sm3/Sm3   BARSA        Rm3/Sm3    CPOISE                                                        
--       --------  --------     -------    ------                                                
           32.91     80.00      1.13304    1.04537
                    114.00      1.12837    1.10009
                    148.00      1.12401    1.15521
                    182.00      1.11994    1.21063         /
           40.99    100.00      1.15276    0.97219         
                    134.00      1.14786    1.02086         
                    168.00      1.14328    1.06983         
                    202.00      1.13900    1.11901         /
           49.36    120.00      1.17297    0.91124         
                    154.00      1.16783    0.95496         
                    188.00      1.16303    0.99891         
                    222.00      1.15854    1.04301         /
           58.04    140.00      1.19374    0.85942         
                    174.00      1.18836    0.89902         
                    208.00      1.18334    0.93878         
                    242.00      1.17864    0.97864         /
           67.04    160.00      1.21512    0.81456         
                    194.00      1.20951    0.85065         
                    228.00      1.20426    0.88686         
                    262.00      1.19935    0.92313         /
           76.39    180.00      1.23718    0.77508         
                    214.00      1.23132    0.80815         
                    248.00      1.22585    0.84130         
                    282.00      1.22073    0.87448         /
           86.11    200.00      1.25996    0.73928         
                    234.00      1.25386    0.76989         
                    268.00      1.24816    0.80050         
                    302.00      1.24283    0.83108         /
           94.44    216.50      1.27934    0.67686         
                    250.50      1.27304    0.70995         
                    284.50      1.26716    0.74427         
                    318.50      1.26164    0.77857         /
                                                           / TABLE NO. 02                                       
--                                                                                      
--       WATER PVT TABLE                                                                    
--                                                                                      
PVTW                                                                                    
--       REF PRES  BW         CW        VISC     VISC                                         
--       BARSA     Rm3/Sm3    1/BARSA   CPOISE   GRAD                                         
--       --------  --------   -------   ------   ------                                       
          277.0    1.038      4.67E-5   0.318    1*        / TABLE NO. 02              
--
--       OIL      WAT        GAS                                                             
--       DENSITY  DENSITY    DENSITY                                                       
--       -------  -------    -------                                                         
DENSITY                                                                                  
         860.04   1033.0     0.853                         / DENSITY PVT DATA REGION 2
## =================================================================================================================================         