## =================================================================================================================================
##  
##                                                    jEdit Velocity Template                              
##                                                                                   
## Template Description                                                         
## --------------------                                                         
## This is a standard jEdit Velocity Template script that generates a standard template header for this file type.
##
## This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2 of the License, or any later version.
##
## This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
## 
## Machine Operating System  : Windows 7 - Service Pack 1                                 
## Machine Type              : amd64                               
## File Name                 : AQUFET.vm                                                         
## Author                    : David Baxendale
##                             Equinox International Petroleum Consultants Pte. Ltd
##                             51 Goldhill Plaza, #07-10/11
##                             Singapore, 308900
##                             david.baxendale@eipc.co 
## Date                      : 30-Jan-2020
##   
##                             Copyright (C) 2020 Equinox International Petroleum Consultants Pte. Ltd
## 
## =================================================================================================================================
--                                                                              
--                      FETKOVICH AQUIFER DESCRIPTION AND CONNECTIONS            
--                                                                              
--       DATUM  AQF    AQF    AQF     AQF   AQF ---------- BOX --------- CONNECT SALT
--       DEPTH  PRESS  VOLM   COMP    PI    PVT I1  I2   J1  J2   K1  K2 FACE    CONC
--                                                                              
AQUFETP                                           
         1130.  1*    1.0E+12 3.0E-5  500E3 1    1   1    1   1    1   1  'J-'   0.0 /          
## =================================================================================================================================