## =================================================================================================================================
##  
##                                                    jEdit Velocity Template                              
##                                                                                   
## Template Description                                                         
## --------------------                                                         
## This is a standard jEdit Velocity Template script that generates a standard template header for this file type.
##
## This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2 of the License, or any later version.
##
## This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
## 
## Machine Operating System  : Windows 7 - Service Pack 1                                 
## Machine Type              : amd64                               
## File Name                 : RESTART.vm                                                         
## Author                    : David Baxendale
##                             Equinox International Petroleum Consultants Pte. Ltd
##                             51 Goldhill Plaza, #07-10/11
##                             Singapore, 308900
##                             david.baxendale@eipc.co 
## Date                      : 30-Jan-2020
##   
##                             Copyright (C) 2020 Equinox International Petroleum Consultants Pte. Ltd
## 
## =================================================================================================================================
##
## Beanshell Macro to Select RESTART file and to Generate Dialog Box to Select Template Option
##
#beanshell (false)
//
//  Display File Selection Dialog 
//
    VFSFileChooserDialog chooser = new VFSFileChooserDialog(view,null,VFSBrowser.OPEN_DIALOG,true);
    String [] files = chooser.getSelectedFiles();
    if(files == null)
    {
                return;
    } 
    String include1 = files[0].substring(0,(files[0].indexOf('.')));
    String include2 = MiscUtilities.getFileName(include1);    
    String include3 = MiscUtilities.getParentOfPath(include1);    
    String include4 = MiscUtilities.getParentOfPath(include3);    
    int    iStart   = MiscUtilities.getLastSeparatorIndex(include4) + 1;
    int    iEnd     = include1.length();
    String include4 = include1.substring(iStart,iEnd);
//
//  Display Include File Options
//
    Options 	= new Object[4];
    Options[0] 	= "'" + include2 + "'";
    Options[1] 	= "'..\\" + include2 + "'";
    Options[2] 	= "'..\\" + include4 + "'";
    Options[3] 	= "'" + include1 + "'";  
    context.put("Option",( JOptionPane.showInputDialog(view,"Choose the RESTART File Name Format",
		          "Select One of the File Name Formats", JOptionPane.QUESTION_MESSAGE,null, Options, Options[0]) ));
#end
## 
## Insert RESTART Statement
## 
#if ($Option)
--
--       FLEXIBLE RESTART FROM PREVIOUS SIMULATION RUN
--
--       FILE                   RESTART   RESTART   FILE
--       NAME                   NUMBER    TYPE      FORMAT
RESTART
         $Option                ??        1*        1*     /
#end
## =================================================================================================================================