## =================================================================================================================================
##  
##                                                    jEdit Velocity Template                              
##                                                                                   
## Template Description                                                         
## --------------------                                                         
## This is a standard jEdit Velocity Template script that generates a standard template header for this file type.
##
## This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2 of the License, or any later version.
##
## This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
## 
## Machine Operating System  : Kubuntu 20.04
## Machine Type              : amd64                               
## File Name                 : RVCONSTT.vm                                                         
## Author                    : David Baxendale
##                             Equinox International Petroleum Consultants Pte. Ltd
##                             51 Goldhill Plaza, #07-10/11
##                             Singapore, 308900
##                             david.baxendale@eipc.co 
## Date                      : 27-July-2021
##   
##                             Copyright (C) 2018-2021 Equinox International Petroleum Consultants Pte. Ltd
## 
## =================================================================================================================================
--
-- SET A CONSTANT RV VALUE FOR EACH DRY GAS TABLE 
-- RUNSPEC KEYWORDS OIL AND VAPOIL SHOULD NOT BE PRESENT IN THE RUN
-- 
RVCONSTT
--
-- CHANGE RV TO GET THE OIL RATE MATCH AT THE END OF THE HISTORY MATCH BUT DO NOT CHANGE Psat 
--
--    Rv        Psat      PVT     PVT
-- (STB/MSCF)  (PSIA)     TABLE   REGION
    0.00155     14.7   /   1      SHALE
    0.00155     14.7   /   2      SHALE
    0.00155     14.7   /   3      A1
    0.00155     14.7   /   4      A2
    0.00155     14.7   /   5      A2B
    0.00155     14.7   /   6      A3
    0.00155     14.7   /   7      SHALE
    0.00155     14.7   /   8      A4U
    0.00155     14.7   /   9      A4L
    0.00155     14.7   /  10      SHALE                            
    0.00155     14.7   /  11      SHALE
    0.00155     14.7   /  12      B1
    0.00155     14.7   /  13      B2
    0.00155     14.7   /  14      B3A
    0.00155     14.7   /  15      B3B
    0.00155     14.7   /  16      SHALE
    0.00155     14.7   /  17      SHALE
    0.00155     14.7   /  18      C1
    0.00155     14.7   /  19      SHALE
    0.00155     14.7   /  20      C2   
    0.00155     14.7   /  21      C3???
## =================================================================================================================================